body{
    padding: 0px;
    margin: 0px;
    background:#161f28;
}
.content{
    margin: 20px;
    padding: 0;
    background-color: #161f28;
    text-align: center;
}
#portfolio{
    margin-top: 50px;
    position: relative;
    color: white;
    text-align: center;
    justify-content: space-between;
}
.text-title p{
    color: white;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    transition: 0.5s;
}
.text-title p::after{
    content: "";
    background: white;
    height: 2px;
    width: 100px;
    display: block;
    margin:auto;
    margin-top: 3px;
}
.text-normal p{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    transition: 0.5s;
}
.portfolio-container{
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px 300px;
    grid-gap: 10px;
}
.portfolio-gallery-item{
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-gallery-item .portfolio-images{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.portfolio-gallery-item .portfolio-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s;
}
.portfolio-gallery-item:hover .portfolio-images img{
    transform: scale(1.1);
}





#commission .text-title p:after{
    width: 150px;
}
#commission{
    margin-top: 100px;
    height: 80vh;
}
.commission-section{
    margin-top: 3%;
    /*display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px 300px;
    grid-gap: 10px;*/
    

}
.commission-section p{
    margin-top: 38vh;
    align-items: center;
    text-align: center;
    
}
.commission-image, .commission-content{
    height: 100vh;
    width: 100%;
    
}
.commission-image > img{
    background: white;
    height: auto;
    width: 80%;
}
.Big-text p{
    float: left;
    font-size: 18;
    font-style: normal;
    font-weight: 400;
    margin:auto;
    color: white;
    padding: 8px 20px;
    margin-left: 20px;
}
.Big-text p::after{
    content: "";
    background: white;
    height: 2px;
    width: 100%;
    display: block;
    margin:auto;
    margin-top: 3px;
}

.commission-parts-container-main{
    float: none;
    justify-content: left;
}

.commission-parts-container{
    float: none;
    justify-content: left;
    text-align: left;
    font-size: 18;
    font-style: normal;
    font-weight: 400;
    margin:auto;
    color: white;
    padding: 8px 20px;
    
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
}

@media(max-width: 920px){
    .commission-image{
        width: 100%;
        height: auto;
        margin-bottom: 25px;
    }
    .commission-section{
        display: block;
    }
    .Big-text p{
        float:none;
    }
}
@media(max-width: 700px){
    .text-normal p{
        font-size: 16px;
    }
    .text-title p{
        font-size: 20px;
    }
    #portfolio .text-title p:after{
        width: 80px;
    }
    #commission .text-title p:after{
        width: 110px;
    }
}