*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 24px;
  }

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/

.header{
    height: 100vh;
    min-height: 600px;
    width: 100%;

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
#header-img{
    background-image: url(../resource/image/BG.jpg);
    background-color: rgb(0, 0, 0, 0.66);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/

.navbar{
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    top: 0;
    bottom: auto;
    background: #161f28;
    overflow: hidden;
    height: 60px;
}
.navbrand, .navcenter, .navsupport{
    position: relative;
    display: flex;
    justify-content:center;
    width: 25%;
}
.navcenter{
    width: auto;
}
.navbrand{
    justify-content: left;
}
.navsupport{
    justify-content: right;
}
.navbrand a, .navcenter a, .navsupport a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    
    padding: 10px 20px;
    transition: 0.5s;
}
.navbrand a{
    font-size: 24px;
    font-weight: 800;
    margin-left: 10px;
}
.navsupport a{
    
    border-radius: 50px;
    margin-right: 10px;
}
.navbrand a:hover, .navsupport a:hover, .navcenter a:hover{
   color: orange;
}
/*.navsupport a:hover{
    background: white;
    color: black;
}
.navcenter a:hover{
    background: white;
    color: black;
    border-radius: 75px;
}

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/

.Title{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    line-height: 21px;
    transition: 0.5s;

}
.Title img{
    width: 200px;
    height: auto;
    transition: 0.5s;
}

.Title h1{
    font-weight: 700;
    line-height: 80px;
    font-size: 38px;
    transition: 0.5s;
    text-align: center;
}
.Title p{
    font-weight: 300;
    font-size: 18px;
    transition: 0.5s;
    
}
.Title svg{
    margin-top: 21px;
    width: 198px;
    height: 6px;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/

.commission-btn{
    cursor: pointer;
    top: 21px;
    width: 352px;
    position: relative;
    display: inline-block;
    font-style: bold;
    font-size: 26px;
    color: white;
    line-height:63px;

    align-items: center;
    text-align: center;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn:hover{
    background: white;
    color:black;
}

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/

.external-links{
    margin-top: 21px;
    align-items: center;
    transition: 0.5s;
    
}
.external-links img{
    width: 50px;
    height: auto;
    transition: 0.5s;
}
.external-links ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    transition: 0.2s;
}
.external-links p{
    position: absolute;
    display: block;
    
    margin-top: -15px;
    color: transparent;
    font-weight: 500;
    font-size: 14px;
    transition: 0.5s;

    left: 50%;
    transform: translateX(-50%);
}

/* .external-links img:hover{
    transform: scale(1.17);
    /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(-20deg) brightness(150%) contrast(100%); 
}*/

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/


@media(max-width: 800px){
    .Title img{
        width: 160px;
        height: auto;
    }
    .nav-links ul li a{
        font-size: calc(18px / 1.2);
    }
    .Title h1{
        font-size: calc(38px / 1.2);
    }
    .Title p{
        font-size: calc(18px / 1.2);
    }
    .Title svg{
        height: calc(8px / 1.2);
        width: calc(198px / 1.2);
    }
    .commission-btn{
        font-size: calc(21px / 1);
        width: calc(352px / 1.2);
        height: calc(63px / 1.2);
        line-height: calc(63px / 1.2);
    }
    .external-links img{
        width: calc(50px / 1.2);
    }
    .external-links a p{
        font-size: 12px;
    }
    .navbar{
        position: fixed;
        width: 100vw;
        height: 50px;
        top: auto;
        bottom: 0;
    }
    .navbar a{
        font-size: calc(18px / 1.33);
        padding: 6px 15px;
    }
    .navcenter a{
        font-size: 12px;
        padding: 6px 10px;
    }
    .navcenter{
        position: absolute;
        margin-left: 10px;
    }
    .navbrand a{
        font-size: 0px;
    }
}
@media(max-width: 400px){
    #navtos{
        font-size: 0px;
    }
}