#linux-tan{
    margin-top: 100px;
    height: 100vh;
}
.linux-tan-section{
    /*display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px 300px;
    grid-gap: 10px;*/
    

}
#linux-tan .text-normal{
    margin-top: 50vh;
}
#linux-tan .text-title p:after{
    width: 160px;
}
.linux-tan-section p{
   transform: translate(0, -10vh);
    align-items: center;
    text-align: center;
    
}

@media(max-width: 700px){
    #linux-tan .text-title p:after{
        width: 110px;
    }
}