*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-family: Roboto;
    font-weight: 800;
    font-size: 24px;
  }
.header{
    min-height: 100vh;
    width: 100%;

    position: relative;
    background-image: url(../resource/image/BG.jpg);
    background-color: rgb(0, 0, 0, 0.66);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}
.navbar{
    z-index: 1;
    position:sticky;
    top: 0;
    background: #161f28;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbrand a{
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 16px 24px;
    transition: 0.5s
}
.navbrand a:hover{
   color: orange;
}
.navsupport{
    cursor: pointer;
    margin-right: 20px;
}
.navsupport a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 8px 24px;
    transition: 0.5s;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
}
.navsupport a:hover{
    background: orange;
    color: black;
    border-radius: 0px;
}
.navcenter{
    cursor: pointer;
    margin-right: 80px;
}
.navcenter a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    transition: 0.5s
}
.navcenter a:hover{
    background: white;
    color: black;
    border-radius: 75px;
}

.Title{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    line-height: 21px;
    transition: 0.5s;

}
.Title img{
    width: 200px;
    height: auto;
    transition: 0.5s;
}

.Title h1{
    font-weight: 700;
    line-height: 80px;
    font-size: 38px;
    transition: 0.5s;
    text-align: center;
}
.Title p{
    font-weight: 300;
    font-size: 18px;
    transition: 0.5s;
    
}
.Title svg{
    margin-top: 21px;
    width: 198px;
    height: 8px;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn{
    cursor: pointer;
    top: 21px;
    width: 352px;
    position: relative;
    display: inline-block;
    font-style: bold;
    font-size: 30px;
    color: white;
    line-height:63px;

    align-items: center;
    text-align: center;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn:hover{
    background: white;
    color:black;
}

.external-links{
    margin-top: 21px;
    align-items: center;
    transition: 0.5s;
    
}
.external-links img{
    width: 50px;
    height: auto;
}
.external-links ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    transition: 0.2s;
}
.external-links li::after{
    position: absolute;
    margin-top: -20px;
    color: transparent;
    font-weight: 500;
    font-size: 14px;
    display: block;
    transition: 0.5s;

}
.external-links li:nth-child(1):after{
    content:"Pixiv";
    transform: translate(10px,8px);
}
.external-links li:nth-child(2):after{
    content:"Instagram";
    transform: translate(-6px,8px);
}
.external-links li:nth-child(3):after{
    content:"Twitter";
    transform: translate(2px,8px);
}
.external-links li:nth-child(4):after{
    content:"GitHub";
    transform: translate(2.5px,8px);
}
.external-links li:nth-child(5)::after{
    content:"Ko-Fi";
    transform: translate(8px,8px);
}


.external-links li:hover:after{
    color: white;
    margin-top: 0px;
}
.external-links img:hover{
    transform: scale(1.17);
    /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(-20deg) brightness(150%) contrast(100%); */
}

@media(max-width: 800px){
    .navcenter{
        margin-right: 38px;
    }
    .navbrand a{
        font-size: 18px;
    }
    .navcenter a{
        font-size: 14px;
    }
}

@media(max-width: 719px){
    .Title img{
        width: 160px;
        height: auto;
    }
    .nav-links ul li a{
        font-size: calc(18px / 1.2);
    }
    .Title h1{
        font-size: calc(38px / 1.2);
    }
    .Title p{
        font-size: calc(18px / 1.2);
    }
    .Title svg{
        height: calc(8px / 1.2);
        width: calc(198px / 1.2);
    }
    .commission-btn{
        font-size: calc(21px / 1.2);
        width: calc(352px / 1.2);
        height: calc(63px / 1.2);
        line-height: calc(63px / 1.2);
    }
    .external-links img{
        width: calc(50px / 1.2);
        height: auto;
        list-style: none;
        display: inline-block;
        position: relative;
    }
    
    .external-links li::after{
        font-size:0px;
    }
    /*
    .external-links li:nth-child(1):after{
        content:"Pixiv";
        transform: translate(11px,8px);
    }
    .external-links li:nth-child(2):after{
        content:"Instagram";
        transform: translate(-1px,8px);
    }
    .external-links li:nth-child(3):after{
        content:"Twitter";
        transform: translate(5px,8px);
    }
    .external-links li:nth-child(4):after{
        content:"GitHub";
        transform: translate(6px,8px);
    }
    .external-links li:nth-child(5)::after{
        content:"Ko-Fi";
        transform: translate(10px,8px);
    } */


    .navbar a{
        font-size: calc(18px / 1.33);
        line-height: calc(21px / 1.33);
    }
    .navcenter a{
        font-size: 12px;
        padding: 6px 10px;
    }
    .navcenter{
        position: absolute;
        margin-left: 20px;
    }
    .navbrand a{
        font-size: 0px;
    }
}
@media(max-width: 380px){
    #navlinux{
        font-size: 0px;
    }
}