body{
    padding: 0px;
    margin: 0px;
    background:#161f28;
}
.content{
    padding: 0px 24px;
    text-align: justify;
    font-size: 24px;
}
.content svg{
    max-width: 100%;
    max-height: 100vh;
    height: 1000px;
}
.portofolio{
    position: relative;
    color: white;
    text-align: center;
    justify-content: space-between;
    transform: translate(0%, 3%);
}
.portofolio p{
    font-weight: 300;
    font-size: 18px;
    transition: 0.5s;

}

@media(max-width: 700px){
    .portofolio p{
        font-size: calc(18px / 1.2);
    }
}