*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;

    background-image: url(resource/png/BG.jpg);
    background-color: rgb(0, 0, 0, 0.66);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    position: relative;

    overflow-x: hidden;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    transition: 0.5s;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 3px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.Title{
    width: 90%;
    color: white;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    line-height: 21px;
    transition: 0.5s;

}
.Title img{
    width: 200px;
    height: auto;
    transition: 0.5s;
}

.Title h1{
    font-weight: 700;
    line-height: 80px;
    font-size: 38px;
    transition: 0.5s;
}
.Title p{
    font-weight: 300;
    font-size: 18px;
    transition: 0.5s;
    
}
.Title svg{
    margin-top: 21px;
    width: 198px;
    height: 8px;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn{
    top: 21px;
    width: 352px;
    height: 63px;
    position: relative;
    cursor: pointer;
    display: inline-block;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: white;
    line-height:63px;

    align-items: center;
    text-align: center;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn:hover{
    background: white;
    color:black;
}

.external-links{
    margin-top: 21px;
    align-items: center;
    transition: 0.5s;
    
}
.external-links img{
    width: 50px;
    height: auto;
    list-style: none;
    display: inline-block;
    position: relative;
}
.external-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
}

@media(max-width: 700px){
    .Title img{
        width: 150px;
        height: auto;
    }
    .nav-links ul li a{
        font-size: calc(18px / 1.5);
    }
    .Title h1{
        font-size: calc(38px / 1.5);
    }
    .Title p{
        font-size: calc(18px / 1.5);
    }
    .Title svg{
        height: calc(8px / 1.5);
        width: calc(198px / 1.5);
    }
    .commission-btn{
        font-size: calc(21px / 1.5);
        width: calc(352px / 1.5);
        height: calc(63px / 1.5);
        line-height: calc(63px / 1.5);
    }
    .external-links img{
        width: calc(50px / 1.5);
        height: auto;
        list-style: none;
        display: inline-block;
        position: relative;
    }
}
