*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.header{
    min-height: 100vh;
    width: 100%;

    position: fixed;

    background-image: url(resource/png/BG.jpg);
    background-color: rgb(0, 0, 0, 0.66);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    position: relative;

    overflow-x: hidden;

}
.navbar{
    z-index: 1;
    position:sticky;
    top: 0px;
    background: #161f28;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbrand a{
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 30px 24px;
    transition: 0.5s
}
.navbrand a:hover{
   color: orange;
}
.navsupport a{
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    transition: 0.5s;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
}
.navsupport a:hover{
    background: orange;
    color: black;
    border-radius: 0px;
}
.navcenter{
    margin-right: 80px;
}
.navcenter a{
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    transition: 0.5s
}
.navcenter a:hover{
    background: white;
    color: black;
    border-radius: 75px;
}




.Title{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    line-height: 21px;
    transition: 0.5s;

}
.Title img{
    width: 200px;
    height: auto;
    transition: 0.5s;
}

.Title h1{
    font-weight: 700;
    line-height: 80px;
    font-size: 38px;
    transition: 0.5s;
}
.Title p{
    font-weight: 300;
    font-size: 18px;
    transition: 0.5s;
    
}
.Title svg{
    margin-top: 21px;
    width: 198px;
    height: 8px;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn{
    top: 21px;
    width: 352px;
    height: 63px;
    position: relative;
    cursor: pointer;
    display: inline-block;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: white;
    line-height:63px;

    align-items: center;
    text-align: center;
    background: linear-gradient(94.94deg, #FD9E04 -1.76%, #FF4C01 80.53%);
    border-radius: 75px;
    transition: 0.5s;
}
.commission-btn:hover{
    background: white;
    color:black;
}

.external-links{
    margin-top: 21px;
    align-items: center;
    transition: 0.5s;
    
}
.external-links img{
    width: 50px;
    height: auto;
    list-style: none;
    display: inline-block;
    position: relative;
}
.external-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
    transition: 0.5s;
}
.external-links img:hover{
    width: 60px;
    height: auto;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(-20deg) brightness(150%) contrast(100%);
}


@media(max-width: 700px){
    .Title img{
        width: 150px;
        height: auto;
    }
    .nav-links ul li a{
        font-size: calc(18px / 1.5);
    }
    .Title h1{
        font-size: calc(38px / 1.5);
    }
    .Title p{
        font-size: calc(18px / 1.5);
    }
    .Title svg{
        height: calc(8px / 1.5);
        width: calc(198px / 1.5);
    }
    .commission-btn{
        font-size: calc(21px / 1.5);
        width: calc(352px / 1.5);
        height: calc(63px / 1.5);
        line-height: calc(63px / 1.5);
    }
    .external-links img{
        width: calc(50px / 1.5);
        height: auto;
        list-style: none;
        display: inline-block;
        position: relative;
    }
    .navbar a{
        font-size: calc(18px / 2);
        line-height: calc(21px / 2);
    }
    .navcenter a{
        font-size: 8px;
    }
    .navcenter{
        margin-right: 0px;
    }
}
